/* h1 {
    padding: 0 50px;
}

.business {
    padding: 0 50px;
}

hr {
    padding: 0 50px;
}

.purchase_agents {
    padding: 0 50px;
}

.agent_name {
    padding: 0 50px;
} */

body {
    padding: 0 50px;
}